# Entorno virtual de Python
venv/
backend/venv/
__pycache__/
*.pyc

# Archivos de base de datos temporales
*.sqlite3

# Configs de sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales de editores
.vscode/
.idea/

# Archivos de log
*.log

# node_modules si algún día usás npm en frontend
node_modules/

# Archivos de compilación
*.egg-info/
dist/
build/

# Archivos de configuración sensibles (si los agregás)
.env
.env.*

# Cachés de navegadores y coverage
.nyc_output/
coverage/
